dconf/ 
go/ 
gtk-3.0/
pulse/  
session/ 
spotify/ 
systemd/ 
yay/ 
obsidian/

VSCodium/*
!VSCodium/User/
VSCodium/User/*
!VSCodium/User/settings.json
!VSCodium/User/keybindings.json
!VSCodium/User/extensions.txt
!VSCodium/User/snippets/
!VSCodium/User/snippets/**

mozilla/firefox/*
!mozilla/firefox/user.js
!mozilla/firefox/chrome/
!mozilla/firefox/chrome/userChrome.css
!mozilla/firefox/chrome/userContent.css

dolphinrc
trashrc
baloofileinformationrc
