dconf/ 
go/ 
gtk-3.0/
pulse/  
session/ 
spotify/ 
systemd/ 
VSCodium/ 
yay/ 
obsidian/

mozilla/firefox/*
!mozilla/firefox/user.js
!mozilla/firefox/chrome/
!mozilla/firefox/chrome/userChrome.css
!mozilla/firefox/chrome/userContent.css

dolphinrc
trashrc
baloofileinformationrc
