dconf/ 
go/ 
gtk-3.0/
pulse/  
session/ 
spotify/ 
sh.cider.genten/
systemd/ 
yay/ 
obsidian/
.codex
__pycache__/
*.pyc

VSCodium/*
!VSCodium/User/
VSCodium/User/*
!VSCodium/User/settings.json
!VSCodium/User/keybindings.json
!VSCodium/User/extensions.txt
!VSCodium/User/snippets/
!VSCodium/User/snippets/**

mozilla/firefox/*
!mozilla/firefox/user.js
!mozilla/firefox/chrome/
!mozilla/firefox/chrome/userChrome.css
!mozilla/firefox/chrome/userContent.css 

google-chrome/
kdeconnect/ 
pdfarranger/ 
libaccounts-glib/ 
libreoffice/

dolphinrc
trashrc
baloofileinformationrc 
kactivitymanagerdrc 
kconf_updaterc 
ktimezonedrc 
mimeapps.list 
okularpartrc 
okularrc 
QtProject.conf 
