configuration {
    modes: [ drun ];

    font: "0xProto Nerd Font Mono";
    
    display-run: "Execute";

}

window {
    width: 1000px; 
    height: 782px;
    background-color: transparent;
    padding: 0px;
    children: [ mainbox ];
}

mainbox{
    orientation: horizontal;
    spacing: 0px;
    children: [ "left-column", "listview" ]; 

    width: 100%; 
    height: 100%;
}

left-column{
    orientation: vertical;
    width: 380px;
    height: 782px;
    expand: false;

    background-color: #000000; 

    children: [ "search-section", "image-section" ];
}

search-section {
    orientation: vertical;
    height: 42px;
    width: 100%;
    expand: false;
    padding: 4px 12px;
    children: [ "inputbar" ];
}

image-section {
    width: 100%;
    height: 740px;
    expand: true;
    background-image: url("/home/snugcode/Images/AdeptusMechanicus-Tarrot.jpg", height);
}

inputbar{
    background-color: rgba(255, 255, 255, 0.08);
    text-color: #ffffff;
    border: 2px;
    border-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    padding: 9px 12px;
}

listview{
    width: 620px;
    height: 782px;
    expand: true;
    background-color: #000000;
    scrollbar: false;
    lines: 15;
}

prompt {
    text-color: #ffffff;
}

entry {
    placeholder: "";
}

element {
    orientation: horizontal;
    spacing: 5px;
    padding: 0px 0px 0px 14px;

    children: [element-text, element-icon];
}

element-text {
    vertical-align: 0.5;
}

element-icon{
    size: 2.5em;
}
