* {
	font-family: "0xProto";
	font-size: 13px;
	color: #FFFFFF;
	border: none; 
	border-radius: 0;
	min-height: 0;
}

window {
	background-color: rgba(0, 0, 0, 0.2);
	font-weight: bold;
}

window#waybar {
	padding: 0; 
	margin: 0;
	background-color: rgba(17, 17, 17, 0.7);
}

/* Right Modules */

.modules-right, 
#network,
#bluetooth,
#pipewire,
#battery {
	margin-right: 10px;
	margin-left: 10px;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#battery icon {
	color: red;
}

@keyframes blink {
	to {
		background-color: rgba(0, 0, 0, 0.2);
	}
}

#battery.warning:not(.charging) {
	color: white;
	animation-name: blink; 
	animation-duration: 0.5s;
	animation-timing-function: linear; 
	animation-iteration-count: infinite; 
	animation-direction: alternate;
}
